<template>
  <label class="btn btn--raised custom-file-upload">
    <v-icon>file_upload</v-icon>
    <input type="file" @change="handleFile"> {{title}}
  </label>
</template>

<script>
export default {
  name: 'fileUpload',
  props: {
    action: {
      type: Function,
      required: true
    },
    title: {
      type: String,
      default: 'File Upload'
    }
  },
  methods: {
    handleFile(e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length) return
      console.log(files)
      this.action(files[0])
    }
  }
}
</script>
<style scoped>
input[type='file'] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
</style>
