<template>
  <v-layout row wrap>
    <v-flex xs6 offset-xs3>
      <v-card>
        <v-card-text>
          <store-list :items="items" :contract="contract"></store-list>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="view">refresh</v-btn>
          <v-btn @click="modal=true">upload</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <upload-form :modal="modal" :loading="loading" :sync="sync" :close="() => {modal=false}"></upload-form>
  </v-layout>
</template>

<script>
import Web3 from 'web3'
import contract from 'truffle-contract'
import storeArtifacts from '#/Store.json'
import StoreList from '@/components/StoreList'
import UploadForm from '@/components/UploadForm'
export default {
  name: 'main',
  data() {
    return {
      contract: () => {},
      loading: false,
      items: {},
      modal: false
    }
  },
  components: {
    'store-list': StoreList,
    'upload-form': UploadForm
  }, // QmdckCoPuhEtiNzREtqpYn8dBgY8ifcG82Q4eyEdGCLEiu Qmadu7gYt5TnK9tTeq8AKMG4zkrDVzqXZSEK5PnqYQZc2T
  mounted () {
    this.init()
  },
  methods: {
    init() {
      // Supports Metamask and Mist, and other wallets that provide 'web3'.
      if (typeof web3 !== 'undefined') {
        // Use the Mist/wallet provider.
        console.log('Connected')
        window.web3 = new Web3(web3.currentProvider)
        this.contract = contract(storeArtifacts)
        console.log(this.contract)
        this.contract.setProvider(window.web3.currentProvider)
        this.view()
      } else {
        console.log('PANIC')
      }
    },
    sync(title, price, hash) {
      this.loading = true
      window.web3.eth.getAccounts((error, accounts) => {
        if (error) {
          console.log(error)
        }
        this.contract
          .deployed()
          .then(instance => {
            return instance.newItem(price, title, hash, {
              from: accounts[0]
            })
          })
          .then(res => {
            this.loading = false
            this.modal = false
            this.view()
            console.log(res)
          })
          .catch(err => {
            this.loading = false
            this.modal = false
            console.log(err)
          })
      })
    },
    view() {
      let contractInstance = {}
      this.contract
        .deployed()
        .then(instance => {
          contractInstance = instance
          return contractInstance.viewList.call()
        })
        .then(items => {
          items.forEach(item => {
            contractInstance.getInfo.call(item).then(res => {
              this.$set(this.items, item, {
                title: res[1],
                price: parseInt(res[0]),
                key: res[2]
              })
            })
          })
        })
        .catch(err => {
          console.log(err.message)
        })
    }
  }
}
</script>
