<template>
  <v-card>
    <v-card-title>
      <h3 class="headline mb-0">File Store</h3>
      <v-spacer></v-spacer>
      <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
    </v-card-title>
    <v-data-table :headers="headers" :items="collection" :search="search">
      <template slot="items" slot-scope="props">
        <td @click="purchase(props.item)">
          <span>{{ props.item.title }}</span>
        </td>
        <td>
          <span>{{ props.item.price.toFixed(2) }}</span>
        </td>
        <td @click="download(props.item)">
          <span>{{ props.item.key }}</span>
        </td>
      </template>
    </v-data-table>
    <v-alert :color="alert.color" :value="alert.toggle" :icon="alert.icon" dismissible v-model="alert.toggle" transition="scale-transition">
      <div>{{alert.msg}}<a :href="alert.link" target="_blank">{{alert.link}}</a></div>
    </v-alert>
  </v-card>
</template>

<script>
import { downloadLink } from '@/api/ipfs'
export default {
  name: 'storeList',
  props: {
    items: {
      type: Object,
      required: true
    },
    contract: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      headers: [
        { text: 'Purchase', align: 'left', value: 'title' },
        { text: 'Cost (Ether)', align: 'left', value: 'price' },
        { text: 'Download', align: 'left', value: 'key' }
      ],
      search: '',
      alert: {
        toggle: false,
        color: 'success',
        icon: '',
        link: '',
        msg: ''
      }
    }
  },
  computed: {
    collection: function() {
      return Object.values(this.items)
    }
  },
  methods: {
    download(item) {
      window.web3.eth.getAccounts((error, accounts) => {
        if (error) {
          console.log(error)
        }
        this.contract
          .deployed()
          .then(instance => {
            return instance.viewPurchased.call(item.key, { from: accounts[0] })
          })
          .then(res => {
            console.log(res)
            this.alert = res !== '' ? {
              color: 'success',
              link: downloadLink(res),
              icon: 'check_circle',
              msg: 'Download Here: ',
              toggle: true
            } : {
              color: 'warning',
              icon: 'warning',
              link: ``,
              msg: 'You don\'t own this item / the transaction is still being processed',
              toggle: true
            }
          })
          .catch(err => {
            console.log(err)
          })
      })
    },
    purchase(item) {
      console.log(item)
      window.web3.eth.getAccounts((error, accounts) => {
        if (error) {
          console.log(error)
        }
        this.contract
          .deployed()
          .then(instance => {
            return instance.purchase(item.key, {
              from: accounts[0],
              value: window.web3.toWei(item.price, 'ether')
            })
          })
          .then(res => {
            console.log(res)
          })
          .catch(err => {
            console.log(err)
          })
      })
    }
  }
}
</script>

<style scoped>
span {
  cursor: pointer;
}
</style>

