<template>
  <v-dialog v-model="modal" persistent max-width="50%">
    <v-card>
      <v-card-title primary-title>
        <h3 class="headline mb-0">Upload a new file:</h3>
      </v-card-title>
      <v-card-text>
        <v-progress-circular v-show="loading" indeterminate color="primary"></v-progress-circular>
        <v-layout v-show="!loading">
          <v-flex xs5 class="mx-2">
            <v-text-field required label="Title:" v-model="title" :rules="[titleValidate]"></v-text-field>
          </v-flex>
          <v-flex xs5 class="mx-2">
            <v-text-field required label="Cost:" v-model.number="price" :rules="[priceValidate]" suffix="ETH"></v-text-field>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <file-upload v-show="!validation" :action="upload"></file-upload>
        <v-btn @click.stop="close">Close</v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar :timeout="5000" bottom v-model="snackbar" :color="color">
      {{ message }}
      <v-btn flat color="white" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-dialog>
</template>

<script>
import FileUpload from '@/components/FileUpload'
import { uploadFile } from '@/api/ipfs'
export default {
  name: 'uploadForm',
  props: {
    modal: {
      type: Boolean,
      required: true
    },
    loading: {
      type: Boolean,
      required: true
    },
    sync: {
      type: Function,
      required: true
    },
    close: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      price: '',
      title: '',
      message: '',
      color: 'success',
      snackbar: false
    }
  },
  computed: {
    validation: function() {
      return [this.priceValidate, this.titleValidate].some(f => {
        return f() !== true
      })
    }
  },
  components: {
    'file-upload': FileUpload
  }, // QmdckCoPuhEtiNzREtqpYn8dBgY8ifcG82Q4eyEdGCLEiu Qmadu7gYt5TnK9tTeq8AKMG4zkrDVzqXZSEK5PnqYQZc2T
  methods: {
    upload(file) {
      uploadFile(file)
        .then(res => {
          this.color = 'success'
          this.message = `${res.data.Hash}`
          this.snackbar = true
          this.sync(this.title, this.price, res.data.Hash)
        })
        .catch(error => {
          this.color = 'error'
          this.message = `File upload failed.`
          this.snackbar = true
          console.log(error.resposne)
        })
    },
    priceValidate() {
      return (this.price !== '' && this.price >= 0) || 'Price must be greater than zero'
    },
    titleValidate() {
      return this.title.length > 0 || 'Title is required'
    }
  }
}
</script>
