<template>
  <v-app light>
    <v-toolbar fixed app>
      <v-toolbar-title>FTP Paywall Prototype</v-toolbar-title>
    </v-toolbar>
    <main>
      <v-content>
        <v-container fluid>
          <main-app></main-app>
        </v-container>
      </v-content>
    </main>
    <v-footer fixed app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import Main from '@/components/Main'
export default {
  components: {
    'main-app': Main
  }
}
</script>
